SPRING_AI_OLLAMA_BASE_URL=http://localhost:11434
SPRING_AI_OLLAMA_CHAT_MODEL=mistral
SPRING_AI_OLLAMA_CHAT_KEEP_ALIVE=5m
SPRING_AI_OLLAMA_CHAT_NUM_CTX=2048

DISCORD_BOT_TOKEN=
DISCORD_MESSAGE_HISTORY_SIZE=20
